@using Microsoft.AspNetCore.Identity
@using ProjectLab.Models.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (!SignInManager.IsSignedIn(User))
{
     <li class="nav-item">
     <a id="manage" class="nav-link text-light" href="@Url.Action("Login", "Accounts")">Login</a>
     </li>   
}
</ul>
