
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Order confirmed";
}

<body class="layout-custom">
    <h1 class="font-custom" style="text-align: center">Your order has been registered. Thank you!</h1>
</body>
