@using ProjectLab.Models.View

@model ProductListModelView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<body class="layout-custom">
    <h1 style="text-align: center; align-items: center;" class="font-custom">MENU</h1>
    <hr/>
    <div class="demo coursemeal" style="justify-content: center;">

        <div class="coursemeal__div">

            <div class="coursemeal-info">
                <a href="@Url.Action("List", "Products", new { productType =1})" class="coursemeal-info__link">Cakes</a>
            </div>
        </div>

        <div class="coursemeal__div">
            <div class="coursemeal-info">
                <a href="@Url.Action("List", "Products", new { productType = 2})" class="coursemeal-info__link">Cake Slices</a>
            </div>
        </div/>
        <div class="coursemeal__div">
            <div class="coursemeal-info">
                <a href="@Url.Action("List", "Products", new { productType = 3})" class="coursemeal-info__link font-custom">Cupcakes</a>
            </div>
        </div>


    </div>
</body>